@import "./main2.css";

.about {
    border: 2px solid yellow;
    /* color: green; */

}


p {
    background-color: red !important ;
}
#myid {
    background-color: green ;
}

.myclass {
    background-color: orange;
}

