body {
    background-color: black;
}

.about {
    border: 2px solid yellow;
    color: green;
    /* background-color: aqua; */
}


#myid {
    color: blue;
}

.myclass {
    background-color: gray;
}

p {
    color: red !important;
}


@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
  
  div {
    font-family: myFirstFont;
  }